    <div ng-controller="JobsCtrl">
        <h2>Positions</h2>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="job in jobs">
                <td>{{job.Title}}</td>
                <td>
                    <button class="btn btn-info">Info</button>
                    <a class="btn btn-success" href="/crash">Apply</a>
                    <button class="btn btn-danger" ng-click="delete(job.Id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>