<!doctype html>

<html ng-app="jobssample">
<head>
    <title>Jobs Sample</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/ui-bootstrap-0.1.0.min.js"></script>
    <script src="jobscontroller.js"></script>
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div ng-controller="JobsCtrl">
        <h3>GMC open positions</h3>
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="job in jobs">
                <td>{{job.Title}}</td>
                <td>
                    <button class="btn btn-info" ng-click="infoAt($index)">Info</button>
                    <a class="btn btn-success" href="/crash">Apply</a>
                    <button class="btn btn-danger" ng-click="delete(job.Id)">Delete</button>
                </td>
            </tr>
        </table>
        
        <h3>Add new position</h3>
        <form name="addJobForm">
          Title: <input name="input" ng-model="addJobData.Title">
          Description: <input name="input" ng-model="addJobData.Description">
          <button type="button" class="btn" ng-click="send()">Send</button>
        </form>
    </div>
</body>
</html>
